@media (max-width: 767px) {

	.hide-extra-small {
		display: none;
	}
	
	.show-extra-small {
		display: block;
	}
	
	#header {
		
		.logo-box .logo {
			background-image: url(/images/logo.sm.png);
		}
		
		.top-nav ul li {
			margin-left: 15px;
		}
	}
	
	#hero {
		
		h1 {
			text-align: center;
		}
		
		.phone-box {
			margin: 0 auto;
			.size(411px, 337px);
		}
		
		.download-cta-box {
			margin-bottom: 60px;
			
			> div {
				display: block;
				margin: 0 0 10px;
				text-align: center;
			}
		}
	}
	
	.body-content {
		
		.rounded-box {
			margin-bottom: 20px;
		}
	}
	
	#footer {
		
		.row {
			text-align: center;
		}
	}
}